:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**/

#app > ul:first-child {
    /* border: 2px solid red; */
    padding: 0;
}

ul {
    position: relative;
    padding: 0 2rem;
    list-style: none;
}

li {
    display: block;
    left: 100%;
}

.mi-text {
    padding: 0.75rem;
    cursor: pointer;
}

.mi-text:hover {
    background-color: blue;
}

.mi-text > input[type="checkbox"]:checked + div {
    border: 2px solid red;
    background-color: green;
}

.mi-text > input[type="checkbox"]:checked > ul li {
    border: 2px solid red;
    background-color: green;
}
